<section class="edit-address" *ngIf="address as theAddress">
  <h2>Adresa</h2>

  <form [formGroup]="addressForm" class="column">

    <div class="row">
      <mat-form-field>
        <input matInput
                name="countyId"
                maxlength="100"
                placeholder="Numar judet"
                formControlName="countyId"
                required
        />
      </mat-form-field>

      <div class="spacer"></div>

      <mat-form-field>
        <input matInput
                name="city"
                maxlength="100"
                placeholder="Localitate"
                formControlName="city"
                required
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input matInput
                name="street"
                maxlength="100"
                placeholder="Strada"
                formControlName="street"
                required
        />
      </mat-form-field>

      <div class="spacer"></div>

      <mat-form-field>
        <input matInput
                name="building"
                maxlength="100"
                placeholder="Numar bloc"
                formControlName="building"
                required
        />
      </mat-form-field>
    </div>

    <mat-form-field>
      <input matInput
             name="description"
             maxlength="1000"
             placeholder="Detalii"
             formControlName="description"
             required
      />
    </mat-form-field>


    <div class="row actions">
      <button mat-button (click)="cancel()">ANULEAZA</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!addressForm.valid">SALVEAZA</button>

    </div>
  </form>
</section>
