<section class="edit-address" *ngIf="address as theAddress">
  <h2>Adresa</h2>

  <form [formGroup]="addressForm" class="column">

    <div class="row">
      <mat-form-field>
        <mat-select
          placeholder="Judet"
          formControlName="county"
          required
        >
          <mat-option *ngFor="let theCounty of getCounties(); trackBy: theCounty?.id" [value]="theCounty">
            {{ theCounty.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="spacer"></div>

      <mat-form-field>
        <input
          matInput
          placeholder="Localitate"
          formControlName="city"
          required
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          matInput
          placeholder="Strada"
          formControlName="street"
        />
      </mat-form-field>

      <div class="spacer"></div>

      <mat-form-field>
        <input
          matInput
          placeholder="Numar bloc"
          formControlName="building"
        />
      </mat-form-field>
    </div>

    <mat-form-field>
      <input
        matInput
        placeholder="Detalii"
        formControlName="description"
      />
    </mat-form-field>


    <div class="row actions">
      <button mat-button (click)="cancel()">ANULEAZA</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!addressForm.valid">SALVEAZA</button>

    </div>
  </form>
</section>
