language: node_js
node_js:
  - "9"

cache:
  directories:
    - node_modules

before_install:
  - pyenv global system 3.6

install:
  - pip3 install --user awscli
  - npm install

script:
  - npm test
  - npm build

deploy:
  provider: script
  script: aws s3 sync dist s3://$S3_BUCKET_NAME --region $S3_BUCKET_REGION --acl public-read --delete
  skip_cleanup: true
  on:
    branch: master
