<section class="defendant">
  <h2>{{ title }}</h2>

  <form [formGroup]="defendantForm" (ngSubmit)="save()">
    <mat-form-field>
      <mat-select placeholder="{{'Tip ' + title}}"
                  formControlName="defendantType"
      >
        <mat-option *ngFor="let option of defendantTypeOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="defendantForm.get('defendantType').hasError('required')">Acest camp este obligatoriu.</mat-error>
    </mat-form-field>

    <div formGroupName="pf" class="fields-container" *ngIf="isPerson(defendantType)">
      <mat-form-field>
        <input matInput formControlName="pfLastName" placeholder="Nume"/>
        <mat-error *ngIf="defendantForm.get('pf').get('pfLastName').hasError('required')">Acest camp este obligatoriu.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="pfFirstName" placeholder="Prenume"/>
        <mat-error *ngIf="defendantForm.get('pf').get('pfFirstName').hasError('required')">Acest camp este obligatoriu.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input #nat matInput formControlName="pfNationality" placeholder="Nationalitate" />
        <mat-error *ngIf="defendantForm.get('pf').get('pfNationality').hasError('required')">Acest camp este obligatoriu.</mat-error>
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Tip identificator"
                      formControlName="pfIdentifierType"
          >
            <mat-option *ngFor="let theIdentifier of personIdentifiers" [value]="theIdentifier.id">
              {{ theIdentifier.identifierType }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="defendantForm.get('pf').get('pfIdentifierType').hasError('required')">Acest camp este obligatoriu.</mat-error>
        </mat-form-field>

        <div class="spacer"></div>

        <mat-form-field>
          <input matInput formControlName="pfIdentifier" [placeholder]="isRomania(nat.value) ? 'CNP' : 'Identificator'" />
          <mat-error *ngIf="defendantForm.get('pf').get('pfIdentifier').hasError('required')">Acest camp este obligatoriu.</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput
               name="decisionDate"
               formControlName="pfBirthDate"
               [matDatepicker]="theDefendantDatePicker"
               placeholder="Data nasterii"
        />
        <mat-datepicker-toggle matSuffix [for]="theDefendantDatePicker"></mat-datepicker-toggle>
        <mat-datepicker
          #theDefendantDatePicker
          startView="multi-year"
        ></mat-datepicker>
      </mat-form-field>
    </div>

    <div formGroupName="pj" class="fields-container" *ngIf="isCompany(defendantType)">
      <mat-form-field>
        <input matInput formControlName="pjName" placeholder="Nume" />
        <mat-error *ngIf="defendantForm.get('pj').get('pjName').hasError('required')">Acest camp este obligatoriu.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input #cnty matInput formControlName="pjCountry" placeholder="Tara de care apartine" />
        <mat-error *ngIf="defendantForm.get('pj').get('pjCountry').hasError('required')">Acest camp este obligatoriu.</mat-error>
      </mat-form-field>

      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Tip identificator"
                      formControlName="pjIdentifierType"
          >
            <mat-option *ngFor="let theIdentifier of companyIdentifiers" [value]="theIdentifier.id">
              {{ theIdentifier.identifierType }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="defendantForm.get('pj').get('pjIdentifierType').hasError('required')">Acest camp este obligatoriu.</mat-error>
        </mat-form-field>

        <div class="spacer"></div>

        <mat-form-field>
          <input matInput formControlName="pjIdentifier" [placeholder]="isRomania(cnty.value) ? 'CUI' : 'Identificator'" />
          <mat-error *ngIf="defendantForm.get('pj').get('pjIdentifier').hasError('required')">Acest camp este obligatoriu.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row actions">
      <button mat-button (click)="cancel()">Anuleaza</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid">Salveaza</button>
    </div>
  </form>
</section>
