<section class="view-address" *ngIf="address">
  <h2>Adresa</h2>

    <!--<div class="double">
      <app-detailed-text description="Nationalitate" [text]="defendant.nationality"></app-detailed-text>
      <app-detailed-text
        [description]="Identificator"
        [text]="getIdentifier(defendant.identifierId)?.identifierType"
      ></app-detailed-text>
    </div>

    <div class="double" *ngIf="defendant.birthdate.isValid()">
      <app-detailed-text
        [description]="getIdentifier(defendant.identifierId)?.identifierType"
        [text]="defendant.identification"
      ></app-detailed-text>
      <app-detailed-text description="Data nasterii" [text]="defendant.getFormattedBirthDate()"></app-detailed-text>
    </div>-->
</section>

