<div>
  <form class="question-form">

    <div class="mat-row">
      <mat-form-field>
        <input matInput placeholder="Name" name="name"
                [(ngModel)]="storageSpace.name"/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-select placeholder="Disponibil"
                    [formControl]="pokemonControl"
          [(ngModel)]="storageSpace.tip"
        >
          <mat-option>&#45;&#45; None &#45;&#45;</mat-option>
          <mat-optgroup *ngFor="let group of disponibilGroups"
                        [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let disponibil of group.disponibil" [value]="disponibil.value">
              {{ disponibil.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

    </div>

    <mat-card>
      <div class="mat-row">
        <mat-form-field class="example-full-width">
          <input matInput name="strada"
                 [(ngModel)]="storageSpace.address.street"
                 placeholder="Strada"/>
        </mat-form-field>
        <mat-form-field class="smallInputContainer">
          <input type="number" matInput name="building"
                 [(ngModel)]="storageSpace.address.building"
                 placeholder="Nr. adresa"/>
        </mat-form-field>
      </div>
      <div class="mat-row">
        <mat-form-field>
          <input matInput placeholder="Scara" name="scara"
              [(ngModel)]="storageSpace.address.stair"
          />
        </mat-form-field>
        <mat-form-field class="smallInputContainer">
          <input matInput type="number" placeholder="Nr. apartament"
            name="flatNo"
                 [(ngModel)]="storageSpace.address.flatNo"
          />
        </mat-form-field>
      </div>

      <div class="mat-row">
        <mat-form-field>
          <input matInput placeholder="Oras"
              name="oras"
                 [(ngModel)]="storageSpace.address.city"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Judet" [formControl]="pokemonControl"
              [(ngModel)]="storageSpace.address.county"
          >
            <mat-option *ngFor="let county of counties" [value]="county">
              {{county.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>


    <button mat-button (click)="save()">Salveza</button>
    <button mat-button (click)="clear()">Anulare</button>
  </form>
</div>
