@import "mixins.scss";

.edit-solution {
  @include flex-column();
  flex-grow: 1;

  h2 {
    @include material-card-title();
  }

  form {
  }
}

.mat-slide-toggle {
  ::ng-deep .mat-slide-toggle-label {
    justify-content: space-between;
  }
}

.column {
  @include flex-column();
}

.row {
  @include flex-row();
  align-items: center;

  &.actions {
    justify-content: flex-end;
  }

  .cell, mat-form-field, mat-slide-toggle {
    flex-grow: 1;
  }

  .cell {
    display: flex;
    flex-basis: 180px;
  }

  .spacer {
    flex-basis: 10px;
  }
}

.column {
  @include flex-column();
}

.separator {
  @include flex-grow(1);
  height: 2px;
  background-color: black;
  margin: 16px 0;

}
