<h1>Adaugare Decizie</h1>


<div class="row">
  <div class="column">

<h2>Decizie</h2>
<div>
  
    <div class="dropdown">
      <button class="dropbtn">Decizie</button>
      <div class="dropdown-content">
        <li>Ordonanta</li>
        <li>Hotarare</li>
        
      </div>
    </div>
  
</div>

<div>
  <label>Nr decizie
    <input  placeholder="Nr. decizie">
  </label>
</div>

<div>
  <label>Data decizie
    <input  placeholder="dd.MM.yyyy">
  </label>
</div>

<div>
  <label>Instanta
    <input  placeholder="Instanta">
  </label>
</div>

<div>  
  <div class="dropdown">
    <button class="dropbtn">Etapa</button>
    <div class="dropdown-content">
      <li>Sechestru</li>
      <li>Confiscare</li>
      <li>Valorificare</li>
    </div>
  </div> 
</div>

</div>

<div class="column">
<h2>Detalii Dosar</h2>

<div>
  <label>Nr dosar
    <input  placeholder="Nr dosar">
  </label>
</div>

<label class="container">Dosar nou
  <input type="checkbox" checked="checked">
</label>

<i>(Daca dosarul exista nu mai trebuiesc introduse datele de mai jos)</i>

<div>
<label>Valoare paguba
  <input  placeholder="Valoare paguba">
</label>
</div>

<div>
  <label>Moneda
    <input  placeholder="Moneda">
  </label>
</div>

<div>
  <label>Incadrare juridica
    <input  placeholder="Incadrare juridica">
  </label>
</div>

<div>
  <label>Domeniu infractional
    <input  placeholder="Domeniu infractional">
  </label>
</div>


</div>




</div>

<hr />

<h2>Inculpati</h2>
<i>(Se pot adauga mai multi inculpati pentru un dosar) </i>

<div class="row">
  <div class="column">
  


<h3>Inculpat 1</h3>


<div>
  <label>Nume
    <input  placeholder="Nume">
  </label>
</div>

<label class="container">Este PF
  <input type="checkbox">
</label>

<div>
  <label>Cnp/Cui
    <input  placeholder="Cnp/Cui">
  </label>
</div>

<button class="button button4">Cauta persoana...</button>
<i>(O persoana poate apare in mai multe dosare si poate fi "refolosita" cand se adauga o decizie noua)</i>

<div>
  <label>Serie Buletin
    <input  placeholder="Serie buletin">
  </label>
</div>

<div>
  <label>Nr Buletin
    <input  placeholder="Nr Buletin">
  </label>
</div>
</div>

<div class="column">

<h3>Adresa inculpat 1</h3>

<div>
  <label>Oras
    <input  placeholder="Oras">
  </label>
</div>

<div>
  <label>Judet
    <input  placeholder="Judet">
  </label>
</div>

<div>
  <label>Strada
    <input  placeholder="Strada">
  </label>
</div>

<div>
  <label>Cladire
    <input  placeholder="Cladire">
  </label>
</div>

<div>
  <label>Etaj
    <input  placeholder="Etaj">
  </label>
</div>

<div>
  <label>Apartament
    <input  placeholder="Apartament">
  </label>
</div>
</div>
</div>





<div class="row">
  <div class="column">
  


<h3>Inculpat 2</h3>


<div>
  <label>Nume
    <input  placeholder="Nume">
  </label>
</div>

<label class="container">Este PF
  <input type="checkbox">
</label>

<div>
  <label>Cnp/Cui
    <input  placeholder="Cnp/Cui">
  </label>
</div>

<button class="button button4">Cauta persoana...</button>
<i>(O persoana poate apare in mai multe dosare si poate fi "refolosita" cand se adauga o decizie noua)</i>

<div>
  <label>Serie Buletin
    <input  placeholder="Serie buletin">
  </label>
</div>

<div>
  <label>Nr Buletin
    <input  placeholder="Nr Buletin">
  </label>
</div>
</div>

<div class="column">

<h3>Adresa inculpat 2</h3>

<div>
  <label>Oras
    <input  placeholder="Oras">
  </label>
</div>

<div>
  <label>Judet
    <input  placeholder="Judet">
  </label>
</div>

<div>
  <label>Strada
    <input  placeholder="Strada">
  </label>
</div>

<div>
  <label>Cladire
    <input  placeholder="Cladire">
  </label>
</div>

<div>
  <label>Etaj
    <input  placeholder="Etaj">
  </label>
</div>

<div>
  <label>Apartament
    <input  placeholder="Apartament">
  </label>
</div>
</div>
</div>







<hr />


<div class="row">

  <div class="column">
<h2>Bun</h2>



<div>
  <label>Identificator
    <input  placeholder="Identificator">
  </label>
</div>

<div>
  <label>Descriere
    <input  placeholder="Descriere">
  </label>
</div>

<button class="button button4">Cauta bun...</button>
<i>(Daca bunul exista nu mai trebuiesc introduse datele de mai jos, se vor prelua din baza de date)</i>

<div>  
  <div class="dropdown">
    <button class="dropbtn">Categorie</button>
    <div class="dropdown-content">
      <li>Bunuri Mobile</li>
      <li>Bunuri Imobile</li>
      <li>Bani</li>
    </div>
  </div> 
</div>
<i>(In lista vor fi disponibile si sub-categoriile)</i>


<div>
  <label>Volum necesar
    <input  placeholder="Volum necesar">
  </label>
</div>

<div>
  <label>Valoare estimata
    <input  placeholder="Valoare estimata">
  </label>
</div>

<div>
  <label>Moneda valoare estimata
    <input  placeholder="Moneda">
  </label>
</div>

<div>
  <label>Valoare efectiva
    <input  placeholder="Valoare efectiva">
  </label>
</div>

<div>
  <label>Moneda valoare efectiva
    <input  placeholder="Moneda">
  </label>
</div>

<div>
  <label>Temei juridic
    <input  placeholder="Temei juridic">
  </label>
</div>
</div>

<div class="column">
<h3>Adresa bun</h3>

<div>
  <label>Oras
    <input  placeholder="Oras">
  </label>
</div>

<div>
  <label>Judet
    <input  placeholder="Judet">
  </label>
</div>

<div>
  <label>Strada
    <input  placeholder="Strada">
  </label>
</div>

<div>
  <label>Cladire
    <input  placeholder="Cladire">
  </label>
</div>

<div>
  <label>Etaj
    <input  placeholder="Etaj">
  </label>
</div>

<div>
  <label>Apartament
    <input  placeholder="Apartament">
  </label>
</div>

</div>

</div>


<hr />

<div class="row">
  <div class="column">
  


<h2>Proprietar</h2>

<label class="container">Acelasi cu inculpatul
  <input type="checkbox" checked="checked">
</label>

<div>
  <label>Nume
    <input  placeholder="Nume">
  </label>
</div>

<label class="container">Este PF
  <input type="checkbox">
</label>

<div>
  <label>Cnp/Cui
    <input  placeholder="Cnp/Cui">
  </label>
</div>

<button class="button button4">Cauta persoana...</button>

<div>
  <label>Serie Buletin
    <input  placeholder="Serie buletin">
  </label>
</div>

<div>
  <label>Nr Buletin
    <input  placeholder="Nr Buletin">
  </label>
</div>
</div>

<div class="column">

<h3>Adresa proprietar</h3>

<div>
  <label>Oras
    <input  placeholder="Oras">
  </label>
</div>

<div>
  <label>Judet
    <input  placeholder="Judet">
  </label>
</div>

<div>
  <label>Strada
    <input  placeholder="Strada">
  </label>
</div>

<div>
  <label>Cladire
    <input  placeholder="Cladire">
  </label>
</div>

<div>
  <label>Etaj
    <input  placeholder="Etaj">
  </label>
</div>

<div>
  <label>Apartament
    <input  placeholder="Apartament">
  </label>
</div>
</div>
</div>

<div class="row">
  <div class="column">
    <h2>Repartizare in spatii de stocare</h2>

    <div>
      <label>Data intrarii
        <input  placeholder="dd.MM.yyyy">
      </label>
    </div>

    <div>  
      <div class="dropdown">
        <button class="dropbtn">Spatii de stocare</button>
        <div class="dropdown-content">
          <li>Spatiu 1/Adresa spatiu 1 </li>
          <li>Spatiu 2/Adresa spatiu 2</li>
          <li>Spatiu 3/Adresa spatiu 3</li>
        </div>
      </div> 
    </div>

  </div>
  <div class="column"></div>
</div>


<button class="button button4">Adauga decizie</button>