<div>
  <h2>
    <span>Spatii de stocare</span>

  </h2>
  <div class="row">
    <button class="btn btn-primary"
            [routerLink]="['/storage-spaces-add']">
      <span class="fa fa-plus"></span>
      <span>Adaugare</span>
    </button>
  </div>
  <br/>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descriere</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <!-- Symbol Column -->

    <ng-container matColumnDef="county">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Judet</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address?.county?.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Oras</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="street">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Strada</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address.street}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="building">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nr.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address.building}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stair">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Scara</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address?.stair}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="floor">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Etaj</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address?.floor}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="flatNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. Ap.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address?.flatNo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalVolume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volum total</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalVolume}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="availableVolume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volum disponibil</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.availableVolume}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lungime</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.length}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="width">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Latime</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.width}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="asphaltedArea">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Suprafata Asfaltata</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.asphaltedArea}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="undevelopedArea">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Suprafata Nedezvoltata</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.undevelopedArea}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="monthlyMaintenanceCost">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cost Lunar Intretinere</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.monthlyMaintenanceCost}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="maintenanceMentions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mentiuni Intretinere</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.maintenanceMentions}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="contactData">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contact</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contactData}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="controls">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="btn"
                [routerLink]="['/storage-spaces-edit', element.id ]">
          <span class="fa fa-plus"></span>
          <span>Edit</span>
        </button>

        <button class="btn"
                [routerLink]="['/storage-spaces-delete', element.id ]">
          <span class="fa fa-danger"></span>
          <span>Delete</span>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
