<div>
  <form class="question-form">

    <div class="mat-row">
      <mat-form-field>
        <input matInput placeholder="Name" name="name"
               [(ngModel)]="storageSpace.name"/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-select placeholder="Disponibil"
                    [formControl]="tipControl"
                    [(ngModel)]="storageSpace.tip">
          <mat-option>&#45;&#45; None &#45;&#45;</mat-option>
          <mat-optgroup *ngFor="let group of disponibilGroups"
                        [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let disponibil of group.disponibil" [value]="disponibil.value">
              {{ disponibil.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

    </div>

    <mat-card>
      <div class="mat-row">
        <mat-form-field class="example-full-width">
          <input matInput name="strada"
                 [(ngModel)]="storageSpace.address.street"
                 placeholder="Street"/>
        </mat-form-field>
        <mat-form-field class="smallInputContainer">
          <input type="string" matInput name="building"
                 [(ngModel)]="storageSpace.address.building"
                 placeholder="Building"/>
        </mat-form-field>
      </div>
      <div class="mat-row">
        <mat-form-field>
          <input matInput placeholder="Stair" name="stair"
                 type="string"
                 [(ngModel)]="storageSpace.address.stair"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Floor" name="floor" type="string"
                 [(ngModel)]="storageSpace.address.floor"
          />
        </mat-form-field>
        <mat-form-field class="smallInputContainer">
          <input matInput type="number" placeholder="Flat No"
                 name="flatNo" [(ngModel)]="storageSpace.address.flatNo"
          />
        </mat-form-field>
      </div>

      <div class="mat-row">
        <mat-form-field>
          <input matInput placeholder="City"
                 name="oras"
                 [(ngModel)]="storageSpace.address.city"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="County"
                      [value]="storageSpace.address.countyId">
            <mat-option *ngFor="let county of counties" [value]="county.id">
              {{county.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>

    <button mat-button (click)="save()">Save</button>
    <button mat-button (click)="clear()">Cancel</button>
  </form>
</div>

