<div id="toolbar">
  <div class="toolbar-row" fxLayout="row" fxLayoutAlign="space-between center">
    <img class="logo" src="assets/anabi_logo.png" />

    <div class="has-action" fxLayout="row" fxLayoutAlign="center center" [matMenuTriggerFor]="profileMenu">
      <span class="mat-body-2">John Doe</span>
      <mat-icon color="primary">account_circle</mat-icon>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/profile">Profil</button>
        <button mat-menu-item (click)="logout()">Deconectare</button>
      </mat-menu>
    </div>
  </div>

  <mat-toolbar color="primary">
    <button mat-button routerLink="/home" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/assets" routerLinkActive="active">Bunuri</button>
    <button mat-button routerLink="/storage-spaces" routerLinkActive="active">Spatii de depozitare</button>
    <button mat-button routerLink="/dictionaries" routerLinkActive="active">Dictionare</button>
    <button mat-button routerLink="/reports" routerLinkActive="active">Rapoarte</button>

    <button mat-button routerLink="/search" routerLinkActive="active">Cautare</button>
  </mat-toolbar>
</div>
