@import '../../../../theme';

div#toolbar {
  height: $anabi-header-height;

  img.logo {
    height  : $anabi-header-logo-size;
    width   : auto;
    padding : 0 $anabi-padding-lg;
  }

  mat-icon {
    height    : $anabi-header-user-icon-size;
    width     : $anabi-header-user-icon-size;
    font-size : $anabi-header-user-icon-size;
    margin    : $anabi-margin-md;
    cursor    : pointer;
  }

  button {
    font-weight    : bold;
    text-transform : uppercase;

    /deep/ .mat-button-focus-overlay {
      background-color : transparent;
    }
  }

  button.mat-button:hover,
  button.mat-button.active {
    background-color : map-get($mat-congress-blue, 500);
    color            : map-get($mat-congress-blue, 200);
  }
}
