<mat-toolbar class="header" color="accent">
  <img src="assets/anabi_logo.png" />

  <button mat-button routerLink="/home" routerLinkActive="active">Dashboard</button>
  <button mat-button routerLink="/search" routerLinkActive="active">Cautare</button>
  <button mat-button routerLink="/decision" routerLinkActive="active">Bunuri</button>
  <button mat-button routerLink="/dictionaries" routerLinkActive="active">Dictionare</button>
  <button mat-button routerLink="/reports" routerLinkActive="active">Rapoarte</button>

  <span class="mat-toolbar-spacer"></span>

  <div class="has-action" fxLayout="row" fxLayoutAlign="center center" [matMenuTriggerFor]="profileMenu">
    <span class="mat-body-2">John Doe</span>
    <mat-icon color="primary">account_circle</mat-icon>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>Profil</button>
      <button mat-menu-item>Deconectare</button>
    </mat-menu>
  </div>
</mat-toolbar>
