@import '../../../theme';

mat-toolbar {
  height        : 100px;
  border-bottom : 2px solid map-get($mat-catalina-blue, 500);

  img {
    height       : 100%;
    width        : auto;
    margin-right : 64px;
  }

  button {
    height        : 100%;
    border-radius : 0;
  }

  button:hover,
  button.active {
    background-color : map-get($mat-catalina-blue, 500);
    color            : map-get($mat-white, 500);
  }

  // utility
  .mat-toolbar-spacer {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex : 1 1 auto;
  }
}

