<div class="asset-details-container">
  <section class="asset-details" *ngIf="isStateView()">
    <div class="asset-details-card mat-elevation-z8" *ngIf="(asset$ | async) as theAsset">
      <h2>{{theAsset.name}}</h2>

      <app-detailed-text description="ID" [text]="theAsset.id"></app-detailed-text>
      <app-detailed-text description="Descriere" [text]="theAsset.description"></app-detailed-text>
      <app-detailed-text description="Identificator" [text]="theAsset.identifier"></app-detailed-text>

      <div class="asset-details-card-double">
        <app-detailed-text description="Categorie" [text]="theAsset.categoryName"></app-detailed-text>
        <app-detailed-text description="Subcategorie" [text]="theAsset.subcategoryName"></app-detailed-text>
      </div>

      <app-detailed-text description="Stare actuala" [text]="theAsset.stageName"></app-detailed-text>

      <div class="asset-details-card-double">
        <app-detailed-text description="Cantitate" [text]="theAsset.quantity"></app-detailed-text>
        <app-detailed-text description="Unitate de masura" [text]="theAsset.measureUnit"></app-detailed-text>
      </div>

      <div class="asset-details-card-double">
        <app-detailed-text description="Valoare estimata" [text]="theAsset.estimatedAmount"></app-detailed-text>
        <app-detailed-text description="Moneda" [text]="theAsset.estimatedAmountCurrency"></app-detailed-text>
      </div>

      <app-detailed-text description="Observatii" [text]="theAsset.remarks"></app-detailed-text>

      <section class="buttons">
        <button mat-raised-button color="primary" (click)="editAsset()">Modifica</button>
      </section>
    </div>
  </section>

  <section class="asset-details" *ngIf="isStateEdit()">
    <div class="asset-details-card mat-elevation-z8">
      <app-edit-asset
        [asset]="asset$ | async"
        [categories]="categories$ | async"
        [subcategories]="subcategories$ | async"
        [stages]="stages$ | async"
        [currencies]="currencies"
        [measurements]="measurements"
        (onCategoryChange)="getSubcategories($event)"
        (onSave)="onEditAsset($event)"
        (onCancel)="onCancelAssetEdit()"
      ></app-edit-asset>
    </div>
  </section>

  <section class="asset-details">
    <div class="asset-details-card mat-elevation-z8" *ngFor="let theDefendant of (defendants$ | async)">
      <app-view-defendant
        [defendant]="theDefendant"
        [identifiers]="identifiers$ | async"
        [isDeleting]="(isDefendantDeleting$(theDefendant.id) | async)"
        (defendantDeleted)="onDefendantDeleted($event)"
      ></app-view-defendant>
    </div>
  </section>

  <section class="asset-details">
    <div class="asset-details-card mat-elevation-z8" *ngFor="let theAddress of (addresses$ | async)">
      <app-view-address
        [address]="theAddress"
      ></app-view-address>
    </div>
  </section>

  <section class="asset-details" *ngIf="isStateView()">
    <div class="asset-details-card mat-elevation-z2" *ngIf="!(isEditingAssetProperty$() | async); else editProperty">
      <h2>Adauga proprietati</h2>

      <div class="add-property">
        <mat-form-field>
          <mat-select placeholder="Proprietate" [(value)]="selectedProperty">
            <mat-option *ngFor="let theProperty of properties" [value]="theProperty.value">
              {{ theProperty.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addProperty()" [disabled]="!selectedProperty">ADAUGA</button>
      </div>
    </div>

    <div>
      asset: {{(asset$ | async) !== undefined}}
      assetProperty: {{(assetProperty$ | async) !== undefined}}
      isEditingAssetProperty: {{(isEditingAssetProperty$() | async) | json}}
    </div>

    <ng-template #editProperty>
      <app-edit-solution
        class="mat-elevation-z8"
        *ngIf="(assetProperty$ | async)?.isSolution()"
        [crimeTypes]="crimeTypes$ | async"
        [decisions]="decisions$ | async"
        [institutions]="institutions$ | async"
        [stages]="stages$ | async"
        [precautionaryMeasures]="(precautionaryMeasures$ | async)"
        [recoveryBeneficiaries]="(recoveryBeneficiaries$ | async)"
        [solution]="assetProperty$ | async"
        (onUpdate)="onPropertyUpdate($event)"
        (onCancel)="onPropertyCancel($event)"
        (onSave)="onPropertySave($event)"
      ></app-edit-solution>

      <app-edit-storage
        class="mat-elevation-z8"
        *ngIf="(assetProperty$ | async)?.isStorageSpace()"
        [storageSpace]="assetProperty$ | async"
        (onUpdate)="onPropertyUpdate($event)"
        (onCancel)="onPropertyCancel($event)"
        (onSave)="onPropertySave($event)"
      ></app-edit-storage>

      <app-edit-address
        class="mat-elevation-z8"
        *ngIf="(assetProperty$ | async)?.isAddress()"
        [address]="(assetProperty$ | async)"
        [counties]="(counties$ | async)"
        (onUpdate)="onPropertyUpdate($event)"
        (onCancel)="onPropertyCancel($event)"
        (onSave)="onPropertySave($event)"
      ></app-edit-address>

      <app-edit-defendant
        class="mat-elevation-z8"
        *ngIf="(assetProperty$ | async)?.isDefendant()"
        [defendant]="(assetProperty$ | async)"
        [identifiers]="(identifiers$ | async)"
        (onUpdate)="onPropertyUpdate($event)"
        (onCancel)="onPropertyCancel($event)"
        (onSave)="onPropertySave($event)"
      ></app-edit-defendant>
    </ng-template>
  </section>
</div>
