<section id="search-page" class="page-view">
  <div class="mat-elevation-z8 table-wrapper">
    <div class="table-header">
      <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" fxLayout="row">
        <mat-form-field fxFlex="29" fxFlexOffset="10">
          <mat-select name="filterKey" placeholder="Categorie" formControlName="filterKey">
            <mat-option *ngFor="let filterProperty of filterProperties" [value]="filterProperty.value">{{
              filterProperty.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="39">
          <input matInput name="filterValue" placeholder="Introdu numarul" formControlName="filterValue"/>
        </mat-form-field>
        <button fxFlex="10" mat-raised-button><i class="material-icons">search</i></button>
      </form>
    </div>
    <div *ngIf="tableConfig.dataSource" class="table-content">
      <mat-table #table [dataSource]="tableConfig.dataSource" matSort fxFlex matSortActive="id" matSortDirection="desc">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let decisionSummary">{{ decisionSummary.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="defendantName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nume</mat-header-cell>
          <mat-cell *matCellDef="let decisionSummary">{{ decisionSummary.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="decisionNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Numar decizie</mat-header-cell>
          <mat-cell *matCellDef="let decisionSummary">{{ decisionSummary.type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Numar dosar</mat-header-cell>
          <mat-cell *matCellDef="let decisionSummary">{{ decisionSummary.getAddress() }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="stage">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Stadiu</mat-header-cell>
          <mat-cell *matCellDef="let decisionSummary">{{ decisionSummary.getAddress() }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef>Overview</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button (click)="viewAsset(row)"><i class="material-icons">View</i></button>
            <button mat-raised-button (click)="editAsset(row)"><i class="material-icons">Edit</i></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableConfig.displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableConfig.displayedColumns;"></mat-row>
      </mat-table>

      <div class="table-footer">
        <mat-paginator #paginator [hidePageSize]="true" [pageSize]="20" [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>
  </div>
</section>
