<section id="search-page">
  {{ page }}
  <div>
  <mat-form-field>
    <input matInput placeholder="Numar decizie" [(ngModel)]="filter.decisionNumber">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Numar dosar" [(ngModel)]="filter.fileNumber">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CNP/CUI Inculpat" [(ngModel)]="filter.personId">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nume Inculpat" [(ngModel)]="filter.personName">
  </mat-form-field>
    <button (click)="search()">Search</button>
  </div>
  <div>
      Numar Decizie - Data Decizie - Numar Dosar - Instanta eminenta
  </div>
  <div *ngFor="let result of results">
    {{result.number}} - {{result.date}} - {{result.fileNumber}} - {{result.emitterInstitution}} - {{result.historicalStageId}} <button [routerLink]="['/asset', 1]">Details</button>
  </div>
</section>
