<section id="add-asset">
  <h2 mat-dialog-title>Adaugare bun</h2>

  <mat-dialog-content>
    <form [formGroup]="newAssetForm" fxLayout="column">
      <mat-form-field>
        <input matInput #name name="name" maxlength="100" placeholder="Nume" required
               [(ngModel)]="newAsset.name" formControlName="name">
        <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>
        <mat-error *ngIf="newAssetForm.controls.name.hasError('NAME_NOT_EMPTY') || newAssetForm.controls.name.hasError('required')">
          Numele este obligatoriu.
        </mat-error>
        <mat-error *ngIf="newAssetForm.controls.name.hasError('NAME_MAX_LENGTH_100')">
          Numele nu poate avea mai mult de 100 caractere.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput #description name="description" placeholder="Descriere"
               [(ngModel)]="newAsset.description" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput #identifier name="identifier" placeholder="Identificator"
               [(ngModel)]="newAsset.identifier" formControlName="identifier">
        <mat-error *ngIf="newAssetForm.controls.identifier.hasError('IDENTIFIER_MAX_LENGTH_100')">
          Identificatorul nu poate avea mai mult de 100 caractere.
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="49">
          <mat-select #category name="category" placeholder="Categorie" required
                      [(ngModel)]="newAsset.category" formControlName="category"
                      (selectionChange)="getSubcategories(newAsset.category.id)">
            <mat-option *ngFor="let category of categories$ | async" [value]="category">{{ category.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="newAssetForm.controls.category.hasError('required')">
            Categoria este obligatorie.
          </mat-error>
          <mat-error *ngIf="newAssetForm.controls.category.hasError('CATEGORY_INVALID_ID')">
            Categoria selectata nu este corecta.
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="49">
          <mat-select #subcategory name="subcategory" placeholder="Subcategorie"
                      [(ngModel)]="newAsset.subcategory" formControlName="subcategory">
            <mat-option *ngFor="let subcategory of subcategories$ | async" [value]="subcategory">{{ subcategory.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select #stage name="stage" placeholder="Stare actuala" required
                    [(ngModel)]="newAsset.stage" formControlName="stage">
          <mat-option *ngFor="let stage of stages$ | async" [value]="stage">{{ stage.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="newAssetForm.controls.stage.hasError('required')">
          Starea este obligatorie.
        </mat-error>
        <mat-error *ngIf="newAssetForm.controls.stage.hasError('STAGE_INVALID_ID')">
          Starea selectata nu este corecta.
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="49">
          <input matInput type="number" #quantity name="quantity" placeholder="Cantitate"
                 [(ngModel)]="newAsset.quantity" formControlName="quantity">
        </mat-form-field>

        <mat-form-field fxFlex="49">
          <mat-select #measureUnit name="measureUnit" placeholder="Unitate de masura"
                      [(ngModel)]="newAsset.measureUnit" formControlName="measureUnit">
            <mat-option *ngFor="let measureUnit of measurements" [value]="measureUnit.id">{{ measureUnit.code }}</mat-option>
          </mat-select>
          <mat-error *ngIf="newAssetForm.controls.measureUnit.hasError('MEASUREUNIT_MAX_LENGTH_10')">
            Unitatea de masura poate avea maxim 10 caractere.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="49">
          <input matInput type="number" #estimatedAmount name="estimatedAmount" placeholder="Valoare estimata"
                 [(ngModel)]="newAsset.estimatedAmount" formControlName="estimatedAmount">
        </mat-form-field>

        <mat-form-field fxFlex="49">
          <mat-select #estimatedAmountCurrency name="estimatedAmountCurrency" placeholder="Moneda valoare estimata"
                      [(ngModel)]="newAsset.estimatedAmountCurrency" formControlName="estimatedAmountCurrency">
            <mat-option *ngFor="let estimatedAmountCurrency of currencies" [value]="estimatedAmountCurrency.id">{{ estimatedAmountCurrency.code }}</mat-option>
          </mat-select>
          <mat-error *ngIf="newAssetForm.controls.estimatedAmountCurrency.hasError('ESTIMATED_AMT_CURRENCY_THREE_CHARS')">
            Moneda poate avea maxim 3 caractere.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea matInput #remarks name="remarks" placeholder="Observatii"
                  matTextareaAutosize matAutosizeMinRows="2"
                  [(ngModel)]="newAsset.remarks" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout fxLayoutAlign="end center">
    <button mat-button mat-dialog-close>ANULEAZA</button>
    <button mat-raised-button color="primary" (click)="save()">SALVEAZA</button>
  </mat-dialog-actions>
</section>
