@import './../node_modules/normalize.scss/normalize';
@import './theme';
@import '~material-design-icons/iconfont/material-icons.css';

// layout
html, body {
  height : 100%;
}

.notification-snackbar {
  color: white;
  background: map-get($mat-red, 300);
}
